@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
}

img {
	width: 100%;
    display: block;
}

.logo {
    position: relative;
    float: right;
    width: 3rem;
    display: inline-block;
    margin: 0.5rem;
}

.company-name {
    width: 100%;
    text-align: center;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 72px;
    font-weight: bold;
    line-height: 60px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
}

p {
    font-family: 'Rakleway', sans-serif;
    font-size: 16px;
    line-height: 21px;
    
}

.media {
    overflow: hidden;
}

.media-img {
    float: left;
    margin: 0 0 0 0;
    width: 50%;
}

.media-body {
    margin: 0 0 2em 0;
}

.product-shot {
    width: 172px;
    height: 272px;
}

.hamburger {
    position: absolute;
    top: 1rem;
    width: 43px;
    height: 43px;
}